<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body class="bg-sky-100">
    <div class="container w-full m-auto flex items-center justify-center h-screen font-sans">
        <div class="flex w-80 shadow px-5 py-5 flex-col rounded-lg border bg-white">
            <h2 class="text-center text-2xl mb-5">Admin Dashboard</h2>
           
        </div>
    </div>

    <script>
      
    </script>
</body>
</html>
